.flex{
    display: flex;
}

.autoMargins{
    margin-left: auto;
    margin-right: auto;
}

body{
    flex-direction: column;
}

#container {
    flex-direction: column;
    border-style:solid;
    flex-wrap: wrap;
    width:640px;
    height:640px;
}

.row{
    flex-direction: row;
    flex-grow:1;
    padding:0
}

.box{
    flex-grow:1;
}

#button{
    background-color: blue;
    color:white;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
}

#title{
    text-align: center;
}